.moderator-view {
  display: block;
}

div.moderator-view {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  height: -webkit-fill-available;
  height: fill-available;

  display: flex;
  flex-direction: column;
}

vaadin-tabs.moderator-tabs {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

vaadin-tabs.moderator-tabs * {
  font-size: 12pt;
}

div.moderator-view vaadin-tabs + div {
  height: 100%;
}

div.document-page,
div.teacher-page,
div.subject-page {
  height: 100%;

  display: flex;
  flex-direction: column;
}

/* Search Layout */
div.top-div-doc {
  margin-top: 15px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}

div.top-div-doc div.add-teacher-div,
div.top-div-doc div.add-subject-div {
  padding: 0 15px;
}

div.top-div-doc div.search-inner-div {
  white-space: nowrap;
}

div.top-div-doc iron-icon {
  margin-left: 15px;
  margin-right: 15px;
}

div.top-div-doc iron-icon:hover {
  cursor: pointer;
}

/* Grid */
vaadin-grid.moderator-grid {
  margin-top: unset;
  flex-grow: 2;
  border: none;
}

/* Paging */
vaadin-horizontal-layout.paging-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

vaadin-horizontal-layout.paging-layout label {
  align-self: center;
}

/* Add - Dialog */
vaadin-vertical-layout.dialog-layout label {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}

vaadin-vertical-layout.dialog-layout vaadin-text-field {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

vaadin-vertical-layout.dialog-layout vaadin-text-field.decline-text-field {
  width: 60%;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout {
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout vaadin-button {
  width: 50%;
}

/* Select Overlay */
vaadin-select-overlay {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  div.top-div-doc {
    justify-content: center;
    grid-template-columns: none;
  }

  div.top-div-doc div.add-teacher-div {
    width: unset;
  }

  div.top-div-doc div.add-subject-div {
    width: unset;
  }

  div.top-div-doc div.search-inner-div {
    margin-top: 10px;
  }

}