.moderator-view {
  display: block;
}

div.moderator-view {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  height: -webkit-fill-available;
  height: fill-available;

  display: flex;
  flex-direction: column;
}

vaadin-button.add-teacher,
vaadin-button.add-subject {
  margin-top: 15px;
}
