.documents-view {
  display: block;
}

div.documents-view {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  height: -webkit-fill-available;
  height: fill-available;

  display: flex;
  flex-direction: column;
}

vaadin-button.add-document {
  margin-top: 15px;
}

vaadin-grid {
  margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 2;
  border: none;
}

.paging-items-per-page-select {
  /* background-color: #f3f5f7; */
  width: 90px;
}