.documents-view {
  display: block;
}

div.documents-view {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  height: -webkit-fill-available;
  height: fill-available;

  display: flex;
  flex-direction: column;
}

/* Search Layout */
div.top-div-doc {
  margin-top: 15px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}

div.top-div-doc div.add-document-div {
  padding: 0 15px;
}

div.top-div-doc div.search-inner-div {
  white-space: nowrap;
}

div.top-div-doc iron-icon {
  margin-left: 15px;
  margin-right: 15px;
}

div.top-div-doc iron-icon:hover {
  cursor: pointer;
}



vaadin-grid {
  margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 2;
  border: none;
}

/* Dialog */
vaadin-vertical-layout.dialog-layout label {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}

vaadin-vertical-layout.dialog-layout vaadin-text-field,
vaadin-vertical-layout.dialog-layout vaadin-select,
vaadin-vertical-layout.dialog-layout vaadin-combo-box,
vaadin-vertical-layout.dialog-layout vaadin-upload {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

vaadin-vertical-layout.dialog-layout vaadin-upload {
  margin-top: 20px;
}

/* Select|ComboBox Overlay */
vaadin-select-overlay,
vaadin-combo-box-overlay {
  text-align: center;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout {
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout vaadin-button {
  width: 50%;
}

vaadin-vertical-layout.dialog-layout vaadin-upload {
  text-align: center;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout.rating-layout {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout.rating-layout div {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: unset;
  padding: 10px 20px;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout.rating-layout vaadin-button {
  margin-left: unset;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout.rating-layout iron-icon {
  flex-grow: unset;
  margin-left: 6px;
  margin-right: 6px;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout.rating-layout iron-icon:hover {
  cursor: pointer;
}

vaadin-vertical-layout.dialog-layout vaadin-button.document-delete-decline-button {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/* Paging */
.paging-items-per-page-select {
  width: 90px;
}


@media only screen and (max-width: 900px) {
  div.top-div-doc {
    justify-content: center;
    grid-template-columns: none;
  }

  div.top-div-doc div.add-document-div {
    width: unset;
  }

  div.top-div-doc div.search-inner-div {
    margin-top: 10px;
  }

  vaadin-vertical-layout.dialog-layout vaadin-upload {
    margin-top: 20px;
  }

  vaadin-vertical-layout.dialog-layout vaadin-upload vaadin-button {
    width: 100%;
  }
}