.sign-up-view {
  display: block;
}

div.sign-up-view {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

vaadin-vertical-layout.form-layout {
  padding: 10px 0;
}

vaadin-vertical-layout.form-layout * {
  width: 100%;
}

vaadin-horizontal-layout.button-layout {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

vaadin-horizontal-layout.button-layout * {
  flex-grow: 1;
}

@media only screen and (max-width: 1023px) {
  div.sign-up-view {
    width: 65%;
  }
}