.sign-up-view {
  display: block;
}

div.sign-up-view {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


vaadin-horizontal-layout.view-title-layout {
  display: flex;
  justify-content: center;
}

vaadin-horizontal-layout.view-title-layout .view-title {
  width: max-content !important;
}

vaadin-horizontal-layout.view-title-layout .tooltip-comp {
  margin-top: 27px;
}

@media only screen and (max-width: 900px) {
  vaadin-horizontal-layout.view-title-layout {
    display: flex;
    flex-direction: column;
  }

  vaadin-horizontal-layout.view-title-layout .view-title {
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  vaadin-horizontal-layout.view-title-layout .tooltip-comp {
    margin-top: unset;
    padding-top: unset;
  }
}


vaadin-vertical-layout.form-layout {
  padding: 10px 0;
}

vaadin-vertical-layout.form-layout * {
  width: 100%;
}

vaadin-horizontal-layout.button-layout {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

vaadin-horizontal-layout.button-layout * {
  flex-grow: 1;
}

@media only screen and (max-width: 900px) {
  div.sign-up-view {
    width: 65%;
  }
}