.teachers-view {
  display: block;
}


div.teachers-view {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  height: -webkit-fill-available;
  height: fill-available;

  display: flex;
  flex-direction: column;
}

/* teacher Layout */
div.teacher-layout-div {
  flex-grow: 2;
}

vaadin-horizontal-layout.teacher-layout {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 0;
}


/* teacher Content Cards */
vaadin-horizontal-layout.teacher-layout content-card {
  user-select: none;
  width: 250px;
  padding: 15px 0;
  margin: 0;
}

vaadin-horizontal-layout.teacher-layout content-card:hover {
  cursor: pointer;
}

vaadin-horizontal-layout.teacher-layout content-card vaadin-vertical-layout {
  transition: all 0.4s ease 0s;
}

vaadin-horizontal-layout.teacher-layout content-card:hover vaadin-vertical-layout {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}


/* Paging */
vaadin-horizontal-layout.paging-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

vaadin-horizontal-layout.paging-layout label {
  align-self: center;
}



/* Add teacher - Dialog */
vaadin-vertical-layout.dialog-layout label {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}

vaadin-vertical-layout.dialog-layout vaadin-text-field {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout {
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

vaadin-vertical-layout.dialog-layout vaadin-horizontal-layout * {
  flex-grow: 1;
}


@media only screen and (max-width: 1023px) {
  div.teachers-view {
    width: 100%;
  }

  vaadin-horizontal-layout.teacher-layout content-card {
    margin-left: auto;
    margin-right: auto;
  }
}