# Port number
PORT=3000

# BASE URL
BASE=https://localhost:3000/

# URL of the Mongo DB
MONGODB_URL=mongodb://user:password@domain:port/database?authSource=authDB

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
SMTP_HOST=email_host
SMTP_PORT=email_port
SMTP_USERNAME=email_user
SMTP_PASSWORD=email_password
EMAIL_FROM=email_address
EMAIL_NAME=sender_name
