.subjects-view {
  display: block;
}


div.subjects-view {
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  height: -webkit-fill-available;
  height: fill-available;

  display: flex;
  flex-direction: column;
}

/* Top-Div Layout */
div.top-div-subjects {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

div.top-div-subjects div.search-div {
  display: flex;
  white-space: nowrap;
}

div.top-div-subjects div.search-inner-div {
  margin-left: 9px;
  margin-right: 9px;
}

div.top-div-subjects iron-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 9px;
  margin-right: 9px;
}

div.top-div-subjects iron-icon:hover {
  cursor: pointer;
}


/* Subject Layout */
div.subject-layout-div {
  flex-grow: 2;
}

vaadin-horizontal-layout.subject-layout {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 15px;
}


/* Subject Content Cards */
vaadin-horizontal-layout.subject-layout content-card {
  user-select: none;
  width: 250px;
  padding: 15px 0;
  margin: 0;
}

vaadin-horizontal-layout.subject-layout content-card:hover {
  cursor: pointer;
}

vaadin-horizontal-layout.subject-layout content-card vaadin-vertical-layout {
  transition: all 0.4s ease 0s;
}

vaadin-horizontal-layout.subject-layout content-card:hover vaadin-vertical-layout {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}


/* Paging */
vaadin-horizontal-layout.paging-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

vaadin-horizontal-layout.paging-layout label {
  align-self: center;
}

/* Select Overlay */
vaadin-select-overlay {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  div.subjects-view {
    width: 95%;
  }

  vaadin-horizontal-layout.subject-layout content-card {
    margin-left: auto;
    margin-right: auto;
  }

  div.top-div-subjects {
    justify-content: center;
  }
}